/* correggere sottolineature e line-through*/

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');
:root {
  --main-bg-color: #fdfdf9;
  --main-bg-div: #f5f5dc;

  --main-dark-color: #1c415c;
  --main-darker-color: 	#0b1e33;
  --main-light-color: #00537a;
  --yellow: #fecb00;

  --footer-height: 3rem;
  --menu-height: 50px;
  --menu-border: 5px;
}

::selection {
  color: white;
  background-color: var(--main-dark-color);
}

#titolo::selection,
footer::selection,
#menu::selection
  { user-select: none; }

html{
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  position: relative;
  height: auto !important;
  height: 100%;
  min-height:100%;
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
  color: var(--main-darker-color);
  height: 100%;
}

/***************************Titolo*********************************************/

#titolo {
  margin: 0px;
  background-color: var(--main-dark-color);
  color: white;
}

#titolo h1, #titolo p{
  margin: 0px;
  padding: 1%;
  text-align: center;
}

#titolo h1, h2 {  font-family: 'Cinzel', serif; }
h2, h4 { color: var(--main-dark-color); }
h4 { font-size: 120%; }

.index {
  margin-left: 1%;
  margin-right: 1%;
  padding-bottom: var(--footer-height);
}

/**************************Footer**********************************************/

#page-container {
  position: relative;
  min-height: 100vh;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: var(--footer-height);
  background-color: var(--main-light-color);
  color: white;
  text-align: right;
  padding-bottom: 0px;
}

footer p {
  padding-top: 5px;
  margin-right: 15px;
}

footer p, footer a {
  color: white;
  text-decoration: none;
}

/*---------------------------Menu---------------------------------------------*/
#menu {
  list-style-type: none;
  height: var(--menu-height);
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--main-dark-color);
  position: sticky;
  top: 0;
  border-bottom: var(--menu-border) solid var(--main-darker-color);
  z-index: 1;
}

#menu li { float: left; }

#menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-bottom: 2px solid var(--main-dark-color);
}

#menu li a:hover { border-bottom: 2px solid white; }

/*----------------Persone-Luoghi-Istituzioni-Glossario------------------------*/

#persone_section, #luoghi_section, #istituzioni_section, #glossario_section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: stretch;
}

#persone_section ul, .toponimo, #istituzioni_section div, #glossario_section div {
  list-style-type: none;
  width: 25%;
  background-color: #f6f2ef;
  border: 5px groove var(--yellow);
  padding: 1%;
  margin: 2%;
}

#persone_section ul span, #glossario_section div span { font-weight: bold; }

iframe {
  float: left;
  margin: 1%;
}
/*---------------------------Immagini-----------------------------------------*/

div.img {
  display: flex;
  justify-content: space-evenly;
}

img.img_sezione {
  overflow: hidden;
  width: 50%;
  height: auto;
  min-height: 100px;
  min-width: 100px;
  max-height: 1000px;
  max-width: 1000px;
  border: 5px groove var(--yellow);
  cursor: crosshair;
}

img.small {
  cursor: crosshair;
  overflow: hidden;
  width: 15%;
  height: auto;
  min-height: 100px;
  min-width: 100px;
  max-height: 500px;
  max-width: 500px;
}

.zoom{
  position: absolute;
  z-index: 2;
  background-repeat: no-repeat;
  background-color: var(--main-darker-color);
  cursor: crosshair;
  border: 5px groove var(--yellow);
}

/*---------------------------Testo--------------------------------------------*/

.testi {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: stretch;
}

.testo_fr, .testo_it { width: 40%; }

.testi p { margin-bottom: 0px; }

.underline { text-decoration: underline; }

.overline { text-decoration: overline; }

.line-through { text-decoration: line-through; }

.underline::selection, .line-through::selection { color: var(--yellow); }

.term { background: linear-gradient(180deg, rgba(255,255,255,0) 65%, #C0D9EC 65%); }

.term::selection {
  background-color: var(--yellow);
  color: var(--main-dark-color);
}

.testi a {
  font-weight: bold;
  color: var(--main-dark-color);
  text-decoration: none;
}

/*---------------------------Tooltip------------------------------------------*/
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted var(--main-dark-color);
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: var(--main-dark-color);
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--main-dark-color) transparent transparent transparent;
}

.tooltip:hover .tooltiptext { visibility: visible; }
